### Starter code for Project 3. 
#### Run these cells before starting the assignment.

#### 1. create BQ dataset:

In [1]:
%env dataset_id=school_enrollments

env: dataset_id=school_enrollments

In [2]:
!bq --location=US mk --dataset $dataset_id

BigQuery error in mk operation: Dataset 'flowing-
athlete-375420:school_enrollments' already exists.

#### 2. create and populate BQ tables:

In [3]:
import os

In [4]:
gsutil_cmd = "gsutil ls gs://cs327e-open-access-2/school-enrollments/*"
file_listings = os.popen(gsutil_cmd)
dataset="school_enrollments"

for file in file_listings:

    start_index = file.rindex("_") + 1
    end_index = file.rindex(".")
    table = file[start_index:end_index]
    
    if table in ("co", "district", "fl", "ga", "id", "ma", "mo", "ne", "ny", "or", "school", "sd", "wi"):
        print("skipping " + table)
        continue

    bq_cmd = "bq --location=US load --autodetect --skip_leading_rows=1 "\
             "--source_format=CSV " + dataset + "." + table + ' ' + file
    print(bq_cmd)
    
    os.system(bq_cmd)

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ak gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ak.csv

Waiting on bqjob_r7de7715eb5f425ac_00000186b9c048fb_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ar gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ar.csv

Waiting on bqjob_r22edb28725a7b04f_00000186b9c05c3c_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ca gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ca.csv

Waiting on bqjob_r6b8d31f2ccf84448_00000186b9c077de_1 ... (14s) Current status: DONE

skipping co
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ct gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ct.csv

Waiting on bqjob_r1c716c092d4be509_00000186b9c0bc3a_1 ... (3s) Current status: DONE

skipping district
skipping fl
skipping ga
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.hi gs://cs327e-open-access-2/school-enrollments/zf406jp4427_hi.csv

Waiting on bqjob_r3f03c0e68c4afccd_00000186b9c0d3ab_1 ... (2s) Current status: DONE

skipping id
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.la gs://cs327e-open-access-2/school-enrollments/zf406jp4427_la.csv

Waiting on bqjob_r1550d538c14f513f_00000186b9c0e6df_1 ... (4s) Current status: DONE

skipping ma
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.md gs://cs327e-open-access-2/school-enrollments/zf406jp4427_md.csv

Waiting on bqjob_rfb95923b2e4242_00000186b9c102c9_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.mn gs://cs327e-open-access-2/school-enrollments/zf406jp4427_mn.csv

Waiting on bqjob_r71158ed41040093b_00000186b9c118bb_1 ... (6s) Current status: DONE

skipping mo
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ms gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ms.csv

Waiting on bqjob_r9be6ec1dfa559ce_00000186b9c13cc2_1 ... (2s) Current status: DONE

skipping ne
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nh gs://cs327e-open-access-2/school-enrollments/zf406jp4427_nh.csv

Waiting on bqjob_r393a69c68e633abb_00000186b9c14fad_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nv gs://cs327e-open-access-2/school-enrollments/zf406jp4427_nv.csv

Waiting on bqjob_r69a45598ea460caf_00000186b9c16263_1 ... (2s) Current status: DONE

skipping ny
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ok gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ok.csv

Waiting on bqjob_re1fb5050bce46e9_00000186b9c175a8_1 ... (4s) Current status: DONE

skipping or
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.pa gs://cs327e-open-access-2/school-enrollments/zf406jp4427_pa.csv

Waiting on bqjob_r1e81c93279761d78_00000186b9c19125_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.sc gs://cs327e-open-access-2/school-enrollments/zf406jp4427_sc.csv

Waiting on bqjob_r1981605638f75633_00000186b9c1ac5e_1 ... (2s) Current status: DONE

skipping school
skipping sd
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.tx gs://cs327e-open-access-2/school-enrollments/zf406jp4427_tx.csv

Waiting on bqjob_r3d459a8e7814c778_00000186b9c1bf8e_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wa gs://cs327e-open-access-2/school-enrollments/zf406jp4427_wa.csv

Waiting on bqjob_r56e9e34059e3957e_00000186b9c1d66e_1 ... (5s) Current status: DONE

skipping wi
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wy gs://cs327e-open-access-2/school-enrollments/zf406jp4427_wy.csv

Waiting on bqjob_r45c58f471dabf85e_00000186b9c1f7a2_1 ... (2s) Current status: DONE

#### 3. Find school enrollments by school name, grade level, and year for Texas

In [5]:
!bq show --schema=true $dataset_id.tx

[{"name":"state","type":"STRING","mode":"NULLABLE"},{"name":"county","type":"STRING","mode":"NULLABLE"},{"name":"county_state_id","type":"STRING","mode":"NULLABLE"},{"name":"admin_level","type":"STRING","mode":"NULLABLE"},{"name":"district_nces_id","type":"INTEGER","mode":"NULLABLE"},{"name":"district_state_id","type":"INTEGER","mode":"NULLABLE"},{"name":"district_state_type","type":"STRING","mode":"NULLABLE"},{"name":"district","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_charter","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_lvl","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_low_grade","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_high_grade","type":"STRING","mode":"NULLABLE"},{"name":"school_nces_id","type":"INTEGER","mode":"NULLABLE"},{"name":"school_state_id","type":"FLOAT","mode":"NULLABLE"},{"name":"school","type":"STRING","mode":"NULLABLE"},{"name":"school_state_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_charter_school","type":"BOOLEAN","mode":"NULLABLE"},{"name":"ccd_school_lvl","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_low_grade","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_high_grade","type":"STRING","mode":"NULLABLE"},{"name":"year","type":"INTEGER","mode":"NULLABLE"},{"name":"term","type":"STRING","mode":"NULLABLE"},{"name":"grade","type":"STRING","mode":"NULLABLE"},{"name":"white","type":"STRING","mode":"NULLABLE"},{"name":"black","type":"STRING","mode":"NULLABLE"},{"name":"hispanic","type":"STRING","mode":"NULLABLE"},{"name":"native_american","type":"STRING","mode":"NULLABLE"},{"name":"native_american_alaskan_native","type":"STRING","mode":"NULLABLE"},{"name":"asian","type":"STRING","mode":"NULLABLE"},{"name":"native_hawaiian","type":"STRING","mode":"NULLABLE"},{"name":"asian_pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"native_hawaiian_pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"multiracial","type":"STRING","mode":"NULLABLE"},{"name":"unknown_race","type":"STRING","mode":"NULLABLE"},{"name":"male","type":"STRING","mode":"NULLABLE"},{"name":"female","type":"STRING","mode":"NULLABLE"},{"name":"non_binary","type":"STRING","mode":"NULLABLE"},{"name":"unknown_gender","type":"STRING","mode":"NULLABLE"},{"name":"ell","type":"STRING","mode":"NULLABLE"},{"name":"ell_percent","type":"STRING","mode":"NULLABLE"},{"name":"homeless","type":"STRING","mode":"NULLABLE"},{"name":"homeless_percent","type":"STRING","mode":"NULLABLE"},{"name":"low_income","type":"STRING","mode":"NULLABLE"},{"name":"free_and_reduced","type":"STRING","mode":"NULLABLE"},{"name":"free_and_reduced_percent","type":"STRING","mode":"NULLABLE"},{"name":"disability","type":"STRING","mode":"NULLABLE"},{"name":"section_504","type":"STRING","mode":"NULLABLE"},{"name":"total","type":"STRING","mode":"NULLABLE"}]

#### Note: STRING type for "total" column

In [6]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020   1440
1     AKINS H S          grade_10  2021   1494
2     AKINS H S          grade_11  2020   1328
3     AKINS H S          grade_11  2021   1326
4     AKINS H S          grade_12  2020   1218
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021    138
1735  ZILKER EL      kindergarten  2020    154
1736  ZILKER EL      kindergarten  2021    126
1737  ZILKER EL  pre_kindergarten  2020     60
1738  ZILKER EL  pre_kindergarten  2021     26

[1739 rows x 4 columns]

##### Documentation on BQ's string functions: https://cloud.google.com/bigquery/docs/reference/standard-sql/string_functions

In [7]:
!bq --location=US mk --dataset "views"

BigQuery error in mk operation: Dataset 'flowing-athlete-375420:views' already
exists.

In [8]:
%%bigquery
create view views.austin_enrollments_by_school_grade_year as
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Executing query with job ID: e61d44fb-3419-4b76-a17f-e55dfed9f111
Query executing: 0.23s

ERROR:
 409 Already Exists: Table flowing-athlete-375420:views.austin_enrollments_by_school_grade_year

Location: US
Job ID: e61d44fb-3419-4b76-a17f-e55dfed9f111

In [9]:
%%bigquery
select * from views.austin_enrollments_by_school_grade_year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020   1440
1     AKINS H S          grade_10  2021   1494
2     AKINS H S          grade_11  2020   1328
3     AKINS H S          grade_11  2021   1326
4     AKINS H S          grade_12  2020   1218
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021    138
1735  ZILKER EL      kindergarten  2020    154
1736  ZILKER EL      kindergarten  2021    126
1737  ZILKER EL  pre_kindergarten  2020     60
1738  ZILKER EL  pre_kindergarten  2021     26

[1739 rows x 4 columns]

#### 4. Open Data Studio and create a chart from this view:
##### https://datastudio.google.com/

#### Project 3 homework marker. Start homework from here.

**Write 8 aggregate queries over the school enrollment tables:**

**Query 1:** Finding the number of districts in each county, that have more than 5 districts in that county, sorted by number of districts.

In [10]:
%%bigquery
select county, count(distinct district) as districts_per_county
from school_enrollments.tx
group by county
having districts_per_county > 5
order by districts_per_county desc limit 10

Query is running:   0%|          |

Downloading:   0%|          |

            county  districts_per_county
0    HARRIS COUNTY                    56
1    DALLAS COUNTY                    46
2     BEXAR COUNTY                    39
3   TARRANT COUNTY                    25
4    TRAVIS COUNTY                    23
5  MCLENNAN COUNTY                    21
6   HIDALGO COUNTY                    20
7    COLLIN COUNTY                    16
8   EL PASO COUNTY                    16
9    NUECES COUNTY                    15

**Query 2:** Finding the number of schools in each county, that have more than 500 schools in that county, sorted by number of schools.

In [11]:
%%bigquery
select county, count(distinct school) as schools_per_county
from school_enrollments.tx
group by county
having schools_per_county > 500
order by schools_per_county desc

Query is running:   0%|          |

Downloading:   0%|          |

           county  schools_per_county
0   HARRIS COUNTY                1031
1   DALLAS COUNTY                 777
2    BEXAR COUNTY                 548
3  TARRANT COUNTY                 521

**Query 3:** Finding the number of schools in each district, that have more than 50 schools in that district, sorted by number of schools.

In [12]:
%%bigquery
select district, count(distinct school) as schools_per_district
from school_enrollments.tx
group by district
having schools_per_district > 50
order by schools_per_district desc limit 10

Query is running:   0%|          |

Downloading:   0%|          |

                district  schools_per_district
0            HOUSTON ISD                   280
1             DALLAS ISD                   253
2         FORT WORTH ISD                   145
3             AUSTIN ISD                   132
4          NORTHSIDE ISD                   124
5    IDEA PUBLIC SCHOOLS                   112
6        SAN ANTONIO ISD                   101
7  CYPRESS-FAIRBANKS ISD                    89
8            EL PASO ISD                    88
9          FORT BEND ISD                    81

**Query 4:** Using the example code as a subquery, we found the average number of students in a grade at each school in Austin districts having an average number of students per grade greater than 50.

In [13]:
%%bigquery
select school, avg(total) as avg_students_per_grade
from 
(
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year
)

group by school
having avg_students_per_grade > 50
order by avg_students_per_grade desc limit 10

Query is running:   0%|          |

Downloading:   0%|          |

             school  avg_students_per_grade
0         BOWIE H S             1433.000000
1         AKINS H S             1390.500000
2        AUSTIN H S             1177.250000
3      ANDERSON H S             1114.250000
4      MCCALLUM H S              902.000000
5   GORZYCKI MIDDLE              895.333333
6  MURCHISON MIDDLE              866.333333
7       KEALING M S              850.666667
8         LAMAR M S              822.666667
9      SMALL MIDDLE              801.666667

**Query 5:** Finding all the districts starting with 'A' and combining that with all the districts starting with 'B', also counting the number of schools in each district and ultimately ordering the union of 'A' and 'B' districts by the number of schools in them.

In [14]:
%%bigquery
select distinct district, count(distinct school) as number_of_schools
from school_enrollments.tx
where district like "A%"
group by district
UNION ALL
select distinct district, count(distinct school) as number_of_schools
from school_enrollments.tx
where district like "B%"
group by district
order by number_of_schools desc limit 10

Query is running:   0%|          |

Downloading:   0%|          |

          district  number_of_schools
0       AUSTIN ISD                132
1       ALDINE ISD                 80
2    ARLINGTON ISD                 79
3     AMARILLO ISD                 58
4  BROWNSVILLE ISD                 53
5        ALIEF ISD                 47
6    BIRDVILLE ISD                 34
7        ALVIN ISD                 33
8      ABILENE ISD                 30
9     BEAUMONT ISD                 29

**Query 6:** Finding all the districts starting with 'C' and distinctly combining that with all the districts starting with 'D', also counting the number of schools in each district and ultimately ordering the union of 'C' and 'D' districts by the number of schools in them.

In [15]:
%%bigquery
select distinct district, count(distinct school) as number_of_schools
from school_enrollments.tx
where district like "C%"
group by district
UNION DISTINCT
select distinct district, count(distinct school) as number_of_schools
from school_enrollments.tx
where district like "D%"
group by district
order by number_of_schools desc limit 10

Query is running:   0%|          |

Downloading:   0%|          |

                        district  number_of_schools
0                     DALLAS ISD                253
1          CYPRESS-FAIRBANKS ISD                 89
2                     CONROE ISD                 63
3             CORPUS CHRISTI ISD                 59
4                CLEAR CREEK ISD                 48
5                     DENTON ISD                 43
6  CARROLLTON-FARMERS BRANCH ISD                 41
7                      COMAL ISD                 35
8                      DONNA ISD                 24
9                    CROWLEY ISD                 22

**Query 7:** Finding how many schools in each county start with an 'A', sorted by number of schools starting with an 'A'.

In [16]:
%%bigquery
select distinct county, count(distinct school) as number_of_schools
from school_enrollments.tx
where school like "A%"
group by county
order by number_of_schools desc limit 10

Query is running:   0%|          |

Downloading:   0%|          |

           county  number_of_schools
0   HARRIS COUNTY                 46
1  TARRANT COUNTY                 32
2   DALLAS COUNTY                 30
3  HIDALGO COUNTY                 23
4    BEXAR COUNTY                 22
5   COLLIN COUNTY                 17
6   TRAVIS COUNTY                 15
7  EL PASO COUNTY                 14
8  JOHNSON COUNTY                 11
9   BRAZOS COUNTY                  9

**Query 8:** Finding how many schools in each district start with an 'A', sorted by number of schools starting with an 'A'.

In [17]:
%%bigquery
select distinct district, count(distinct school) as number_of_schools
from school_enrollments.tx
where school like "A%"
group by district
order by number_of_schools desc limit 10

Query is running:   0%|          |

Downloading:   0%|          |

                   district  number_of_schools
0                DALLAS ISD                 13
1               HOUSTON ISD                  9
2  PHARR-SAN JUAN-ALAMO ISD                  9
3                 ALIEF ISD                  8
4             ARLINGTON ISD                  8
5                AUSTIN ISD                  8
6            FORT WORTH ISD                  7
7             NORTHSIDE ISD                  6
8     CYPRESS-FAIRBANKS ISD                  6
9               EL PASO ISD                  5

**Creating views** for queries 1 and 3:

**Query 1:**

In [18]:
%%bigquery
create view views.q1_districts_per_county as
select county, count(distinct district) as districts_per_county
from school_enrollments.tx
group by county
having districts_per_county > 5
order by districts_per_county desc limit 10

Executing query with job ID: 1e09d07e-bdff-4aae-8bce-38d9b0db89a9
Query executing: 0.38s

ERROR:
 409 Already Exists: Table flowing-athlete-375420:views.q1_districts_per_county

Location: US
Job ID: 1e09d07e-bdff-4aae-8bce-38d9b0db89a9

**Query 3:**

In [19]:
%%bigquery
create view views.q3_schools_per_district as
select district, count(distinct school) as schools_per_district
from school_enrollments.tx
group by district
having schools_per_district > 50
order by schools_per_district desc limit 10

Executing query with job ID: 621a4444-c789-42a6-aaac-239e6303d25e
Query executing: 0.43s

ERROR:
 409 Already Exists: Table flowing-athlete-375420:views.q3_schools_per_district

Location: US
Job ID: 621a4444-c789-42a6-aaac-239e6303d25e